body{
  background: lightsalmon;   
  font-family: "Roboto", sans-serif;
}

.form{
  background: white;
  max-width: 360px;
  margin: 200px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.form input{
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: none;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #4CAF50;
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.form button:hover{
  background: #43A047;
}

.fp a{
  text-decoration: none;
  float: right;
  font-size: 13px;
}

.message{
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}

.message a{
  color: blue;
  text-decoration: none;
}
